/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
/* General Page Container */
.container {
    width: 90%;
    margin: 0 auto; /* Centers the container horizontally */
    padding: 20px 0; /* Adds vertical spacing for a cleaner look */
}

/* Header Styles */
header {
    background-color: #2c3e50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    margin: 0 auto;    /* Center the navbar */
    z-index: 100; /* Navbar encima de otros elementos */
}

.logo {
    color: white;
    font-size: 30px; /* Match the title size */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px; /* Add space between the logo image and text */
}
.logo img {
    width: auto;
    height: 100%; /* Adjust logo height to match the text */
    max-height: 50px; /* Make the height dynamic */
}

.active::before {
    content: "🔥";
}

.menu {
    display: flex;
    gap: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 1rem 2rem;
}

.menu a:hover {
    background-color: #2ecc71;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 150; /* Asegura que la hamburguesa esté siempre visible */

}

#toggle {
    display: none;
}

