/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
/* General Page Container */
.container {
    width: 90%;
    margin: 0 auto; /* Centers the container horizontally */
    padding: 20px 0; /* Adds vertical spacing for a cleaner look */
}

/* Header Styles */
header {
    background-color: #2c3e50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    margin: 0 auto;    /* Center the navbar */
    z-index: 100; /* Navbar encima de otros elementos */
}

.logo {
    color: white;
    font-size: 30px; /* Match the title size */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px; /* Add space between the logo image and text */
}
.logo img {
    width: auto;
    height: 100%; /* Adjust logo height to match the text */
    max-height: 50px; /* Make the height dynamic */
}

.active::before {
    content: "🔥";
}

.menu {
    display: flex;
    gap: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 1rem 2rem;
}

.menu a:hover {
    background-color: #2ecc71;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 150; /* Asegura que la hamburguesa esté siempre visible */

}

#toggle {
    display: none;
}

/* Hero Section */
.hero {
    width: 90%; /* Ocupa todo el ancho de la ventana */
    height: auto; /* Ajusta la altura automáticamente */
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center; /* Centra la imagen */
    text-align: center;
    color: white;
    position: relative;
    margin: 0; /* Elimina márgenes alrededor de la sección */
}

/* Ajusta el estilo de la imagen para que cubra el 95% del ancho */
.hero picture img {
    width: 90vw; /* Ajusta la imagen para que ocupe el 95% del ancho de la ventana */
    height: auto; /* Mantiene la proporción de la altura */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    display: block; /* Elimina posibles espacios blancos alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    padding: 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
    color: black;
}

.btn {
    background-color: #2ecc71;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    position: absolute; /* Para moverlo */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.logWorkout {
    margin-left: 10px;
}

/* Form Styles */
#workout-section {
    background-color: #fff;
    padding: 50px 20px;
}

#workout-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se mantengan en la misma línea o pasen a la siguiente */
    gap: 10px; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */

}

#workout-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#workout-form input, #workout-form select {
    padding: 10px;
    margin-bottom: 15px;
    flex-grow: 1; /* Los inputs ocupan más espacio en una línea */
}

#logWorkout {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#logWorkout:hover {
    background-color: #0056b3;
}

/* Chart Section */
#progress-section {
    padding: 50px 20px;
    background-color: #ecf0f1;
}

/* Footer Styles */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-media {
    margin: 10px 0;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

footer p {
    margin: 5px 0;
}